:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primery-color-white: #ffffff;
}

body {
  font-family: 'roboto', sans-serif;
  position: relative;

  background: var(--primery-color-white);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* header */
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.2;
  color: var(--accent-color);
}
.logo-studio {
  color: var(--primary-text-color);
}

/* header-nav */

.header-nav .link {
  color: var(--primary-text-color);
}
.header-nav-item .link.current {
  color: var(--accent-color);
}
.header-nav-item .link:hover,
.header-nav-item .link:focus {
  color: var(--accent-color);
}
.header-contact .link:hover,
.header-contact .link:focus {
  color: var(--accent-color);
}
.header-contact .link {
  color: var(--title-text-color);
}
/* hero */
.hero {
  width: 1600px;
  height: 600px;

  background: #2f303a;
}
.hero-titel {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.25;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primery-color-white);
}
.hero-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button-text {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-color-white);
}
/* feature */
.feature .feature-head {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-paragraph {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/*what are we doing*/
.doing {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* team */
.team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team .team-head {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-paragraph {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
